# Complex papermill example

This notebook will demonstrate how to pass more complex arguments to a notebook using the `papermill` library and parameters configured in a yaml file.

In [1]:
# Parameters
AGGREGATIONS = ["min", "max"]

In [2]:
import random
import pandas as pd

In [3]:
CATEGORIES = ["A", "B", "C", "D", "E"]

dummy_dataframe = pd.DataFrame({
    "category": [random.choice(CATEGORIES) for i in range(1000)],
    "value": [random.randint(0, 100000) for i in range(1000)]
})
dummy_dataframe

    category  value
0          A  37902
1          B  54960
2          B  65897
3          E  67825
4          D  18653
..       ...    ...
995        D  63637
996        E   7297
997        B  52486
998        D  18770
999        E  19287

[1000 rows x 2 columns]

In [4]:
dummy_dataframe.groupby("category").agg(AGGREGATIONS)

         value
           min    max
category
A         3045  97540
B          309  99469
C          368  99811
D          440  99731
E          927  99937