# Complex papermill example

This notebook will demonstrate how to pass more complex arguments to a notebook using the `papermill` library and parameters configured in a yaml file.

In [1]:
# Parameters
AGGREGATIONS = ["min", "max"]

In [2]:
# Parameters
AGGREGATIONS = ["mean", "median", "sum", "count", "min", "max", "std"]

In [3]:
import random
import pandas as pd

In [4]:
CATEGORIES = ["A", "B", "C", "D", "E"]

dummy_dataframe = pd.DataFrame({
    "category": [random.choice(CATEGORIES) for i in range(1000)],
    "value": [random.randint(0, 100000) for i in range(1000)]
})
dummy_dataframe

    category  value
0          E  41558
1          C  39226
2          C  14670
3          C  52665
4          C  16175
..       ...    ...
995        B  86737
996        D  58905
997        B  85377
998        A  59268
999        C  66763

[1000 rows x 2 columns]

In [5]:
dummy_dataframe.groupby("category").agg(AGGREGATIONS)

                 value
                  mean   median       sum count   min    max           std
category
A         53044.338889  55454.5   9547981   180   796  99740  28715.110943
B         47787.004695  48053.0  10178632   213  1067  99469  27396.546805
C         49645.940299  49771.0   9978834   201    54  99916  29146.732979
D         51478.259434  55241.0  10913391   212   802  99788  28830.615635
E         47639.056701  46225.5   9241977   194    39  99023  28417.766766